@import url('https://fonts.googleapis.com/css2?family=Lato&family=Michroma&display=swap');

$bg-primary-color:#bbe1fa;
$bg-secondary-color:#9399ff;
$primary-text-color: #1b262c;
$secondary-text-color: #f8f8f8;
$color-selected: #61d4b3;
$color-not-selected: #FFFFFF;
$color-occupied: #ff80b0;



body {

  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 1200px;
  margin: 0 auto;

  .main {
    max-width: 90%;
    margin: 0 auto;

    h1 {
      text-align: center;
      font-family: 'Michroma', sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      word-spacing: 1rem;
    }

    .text {
      span {
        color: $secondary-text-color;
        margin: 0 10px;
        background: $bg-secondary-color;
        padding: 0 3px;
      }
    }
  }

  .copy-right {
    font-size: 1rem;
    color: $primary-text-color;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 2rem;
  }




  .main-container {
    background-color: $bg-primary-color;
    opacity: 0.9;
    color: $primary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 0 5rem 0rem 5rem;
    border-radius: 5px;
    margin: auto;


    .movie-container {
      margin: 20px 0;

      select {
        background-color: #f09ae9;
        border: 0;
        border-radius: 5px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }
    }

    .showcase {
      background-color: $bg-secondary-color;
      color: $secondary-text-color;
      border-radius: 5px;
      display: grid;
      grid-template-columns: 1fr 1.5fr 2fr;
      grid-gap: 1rem;
      padding-right: 0.5rem;

      div {

        list-style: none;
        margin: 1rem;

        div {
          display: grid;
          grid-template-columns: 1fr auto;
          grid-gap: 5px;
          margin: 0;

          .selected {
            background-color: $color-selected !important;
            height: 24px;
            width: 30px;
            border-radius: 30%;


            img {
              height: 100%;
              width: 100%;

            }
          }

          .not-select {
            .seat:not(.occupied):hover {
              cursor: default;
              transform: scale(1);
            }
          }


          :not(.occupied):hover {
            cursor: pointer;
            transform: scale(1.2);
          }



          .occupied {
            background: $color-occupied !important;
            height: 24px;
            width: 30px;
            border-radius: 30%;

            img {
              height: 100%;
              width: 100%;

            }
          }

          .seat {
            background-color: $color-not-selected;

          }

          height: 24px;
          width: 30px;
          border-radius: 30%;

          img {
            height: 100%;
            width: 100%;

          }
        }

        small {
          margin-top: 2px;
          color: $secondary-text-color;
        }
      }

    }


  }


  .container {
    perspective: 1000px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .screen {
      background: #f7f7f7;
      height: 70px;
      width: 100%;
      margin: 15px 0;
      transform: rotateX(-45deg);
      box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);

    }

    .row {
      display: flex;
      width: 100%;


      .selected {
        background-color: $color-selected !important;
      }

      .occupied {
        background-color: $color-occupied !important;
      }

      .seat {
        background-image: url("seat.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: $color-not-selected;
        background-size: contain;
        opacity: 0.6;
        height: 24px;
        width: 30px;
        margin-bottom: 4px;
        margin-right: 4px;
        border-radius: 4px;
        padding: 2px;



      }

      :not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

}

@media (max-width: 768px) {
  .main {
   width: 760px;
   margin: 0 auto;
    h1 {
          font-size: 16px;
     margin: 0 auto;
    }

    .main-container {
      max-width: 90%;

      .showcase {
        width: 100%;
      }

      .container {
        width: 100%;
      }
    }

  }
}